<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
          name="aspNetCore"
          path="*"
          verb="*"
          modules="AspNetCoreModule"
          resourceType="Unspecified" />
    </handlers>
    <aspNetCore
      forwardWindowsAuthToken="true"
      processPath="c:\Dzoukr\Personal\dzoukr\Suave.IIS\tests\Suave.IIS.TestApp\bin\Debug\Suave.IIS.TestApp.exe"
        arguments="%ASPNETCORE_PORT%"
        startupTimeLimit="20"
        stdoutLogEnabled="true"
        stdoutLogFile="myiiswebname.log"
        >
    </aspNetCore>
  </system.webServer>
</configuration>