<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform
                  forwardWindowsAuthToken="true"
                  stdoutLogEnabled="true"
                  stdoutLogFile="myiiswebname.log"
                  startupTimeLimit="20"
                  processPath="PATH\TO\YOUR\SUAVE.exe"
                  arguments="%HTTP_PLATFORM_PORT% &quot;myiiswebname&quot;"/>   <!-- if running on http://localhost/myiiswebname -->
 
  </system.webServer>
</configuration>